
.bondax{
	height: 361px;
	width: 100%;
}

.bondax-img{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	

}
.bondax-sc{
	position: ;
	width: 100%;
	height: 166px;
}

.jamiexx{
	height: 361px;
	width: 100%;
}

.jamiexx-img{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	

}
.jamiexx-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.rustie{
	height: 361px;
	width: 100%;
}

.rustie-img{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	

}
.rustie-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.purityring{
	height: 361px;
	width: 100%;
}

.purityring-img{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	

}
.purityring-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.TNGHT{
	height: 361px;
	width: 100%;
}

.TNGHT-img{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	

}
.TNGHT-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.daphnie{

	width: 100%;
}

.daphnie-img{
	margin: 0 auto;
	width: 100%;
	position: ;
	

}
.daphnie-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.xxyyxx{

	width: 100%;
}

.xxyyxx-img{
	margin: 0 auto;
	width: 100%;
	position: ;
	

}
.xxyyxx-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}
